@import 'CS_commonStyles'

.msResultsBox_google
  position: absolute
  right: 0
  z-index: 99999
  /*****
  * Setting the MS results box top value as a constant seems to work ok even if the page is zoomed in.
  * So have set it to top: 169px in the css.
  * Note: if you need to bring this back and use it, make sure to also call if from the
  * instantSeachMutationObserverHandler as seen here: http://bit.ly/2hTGxPz
  */
  // setMSResultsBoxTopStyle()
  top: 169px
  #resultsBoxCount
    font-size: 1.2rem
  .MSresultLink
    font-size: 1.4rem
    line-height: 1.2rem
  .MSresultUrlText
    font-size: 1.02em
    line-height: 1.6rem
  .MSresultDescription
    font-size: 1.12rem
