
@font-face
  font-family: 'open_sansregular'
  src: url('../fonts/opensans-regular.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'exoregular'
  src: url('../fonts/Exo-regular-MS-text-only.woff2') format('woff2')
  font-weight: normal
  font-style: normal

#msResultsBox
  font-family: "open_sansregular"
  // overflow-y: scroll
  // border: 1px solid #ebebeb
  position: absolute
  right: 0
  z-index: 99999
  display: flex
  background-color: #fff
  width: 500px
  top: 169px

.msResultsBoxHide
  display: none !important

#msResultsBoxSidebar
  width: 40px
  // float: left
  height: 100%
  background-color: #3498DB
  &:hover
    cursor: pointer

#msSidebarIcon
  text-align: center
  font-family: "exoregular"
  font-size: 1.9em
  color: white
  width: 40px
  position: sticky
  top: 0

#msSidebarIconHidden
  text-align: center
  font-family: "exoregular"
  font-size: 1.9em
  color: white
  width: 40px
  visibility: hidden

.msSidebarIconFixed
  position: fixed
  top: 0

#msResultsBoxResultsContainer
  // padding-left: 50px
  border-top: 1px solid #ebebeb
  border-bottom: 1px solid #ebebeb
  overflow-y: auto
  width: 100%
  padding-top: 10px
  padding-left: 25px
  padding-right: 25px


// Integrated Results (i.e. results that are inserted in to the search page (not the MS results box))

#rso .MSresultsBoxResult
  .MSresultLink
    border-left: 2px solid #3498DB
    padding-left: 2px

  .MSresultDetailsAndDescription
    margin-top: 1px
    .MSresultCite
      color: #3498DB
      text-overflow: ellipsis
      white-space: nowrap
      display: block
      overflow: hidden
      float: left
    .MSarchiveLink svg
      fill: hsla(192, 15%, 90%, 1)
      height: 14.4px
      margin-top: 0.94px
    .MSarchiveLink:hover
      text-decoration: none
      svg
        fill: #77BBEB
