@import 'CS_commonStyles'

.msResultsBox_google
  position: absolute
  z-index: 99999
  border-radius: 2px
  /*****
  * Setting the MS results box top value as a constant seems to work ok even if the page is zoomed in.
  * So have set it to top: 169px in the css.
  * Note: if you need to bring this back and use it, make sure to also call if from the
  * instantSeachMutationObserverHandler as seen here: http://bit.ly/2hTGxPz
  */
  // setMSResultsBoxTopStyle()
  top: 169px
  #resultsBoxCount
    font-size: 1.2rem
  .MSresultLink
    font-size: 1.4rem
    line-height: 1.2rem
  .MSresultUrlText
    font-size: 1.02em
    line-height: 1.6rem
  .MSresultDescription
    font-size: 1.12rem
/*****
* The 'hp' class is from the page. When it is the search page, the body has a class of 'hp', so gonna use that as
* it saves us having to manually check and hide/show for the search page.
*/
body.hp .msResultsBox_google
  display: none !important

.msSearchButtonSearchPageGoogle
  height: auto
  display: inline-block
  padding-left: 16px
  padding-right: 16px
  padding-top: 3px
  padding-bottom: 4px
  line-height: 27px
  background-image: gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1))
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1)
  border-radius: 2px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-color: #f2f2f2
  border: 1px solid #f2f2f2
  border-radius: 2px
  color: #757575
  cursor: default
  font-size: 13px
  font-weight: bold
  margin: 11px 4px
  min-width: 54px
  text-align: center
  &:visited
    color: #757575
  &:hover
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1)
    background-color: #f8f8f8
    // border: 1px solid #c6c6c6
    // border: 1px solid #3498DB
    border: 1px solid #2670A2
    box-shadow: 0 1px 1px rgba(0,0,0,0.1)
    // color: #222
    // color: #3498DB
    color: #2670A2
    text-decoration: none

.msSearchButtonResultsPageGoogle
  @import 'normalize'
  font-family: "exo_regular"
  // outline: 1px solid green;
  display: flex;
  align-items: center
  position: absolute
  margin-left: 662px;
  margin-top: 3px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 30px;
  border-radius: 2px
  color: white
  justify-content: space-between;
  width: 70px;
  background-color: #3498DB
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)
  &:hover
    text-decoration: none !important;
    cursor: pointer
    color: #77BBEB
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08)
    svg
      fill: #77BBEB
  svg
    height: 28px;
    fill: white
/*****
* This is for RTL languages like Arabic where the text layout will be right-to-left, so we need to have
* the MS search button on the left of the search input box.
*/
html[dir="rtl"] .msSearchButtonResultsPageGoogle
  margin-left: 0px;
  margin-right:  662px;
/*****
* The 'hp' class is from the page. When it is the search page, the body has a class of 'hp', so gonna use that as
* it saves us having to manually check and hide/show for the search page.
*/
body.hp .msSearchButtonResultsPageGoogle
  display: none !important
