
@font-face
  font-family: 'open_sansregular'
  src: url('../fonts/opensans-regular.woff2') format('woff2')
  font-weight: normal
  font-style: normal

#notie-alert-content, #notie-alert-text
  font-family: "open_sansregular"
