
// Write CSS like screenshot on desktop

body
  margin: 0
  padding: 0
  overflow: hidden
  font-size: 0.8em

.flexrow
  display: flex
  flex-direction: row

.flexcolumn
  display: flex
  flex-direction: column

#optionsPanel
  width: 650px
  height: 550px
  display: block
  nav
    padding: 0 10px
    height: 40px
    display: flex
    align-items: flex-end
    border-bottom: solid 1px silver
    position: fixed
    left: 0
    right: 0
    ol
      list-style-type: none
      margin: 0
      padding: 0
      display: flex
      li
        cursor: pointer
        padding: 5px 10px
        margin-bottom: -1px
        border: solid 1px transparent

.hide
  display: none !important

.show
  display: flex !important

#optionsPanel li.selected
  border-color: silver
  border-bottom-color: #fff

#settings
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  overflow-y: auto
  overflow-x: hidden
  margin-top: 41px
  display: flex
  padding: 14px 17px

#optionsPanel #settings section
  flex: 1
  display: flex
  flex-direction: column

.moreInfo
  opacity: 0.5
  margin-bottom: 10px
  margin-top: 2px
  width: 5em
  &:hover
    opacity: 1.0

.settingsGroup
  margin-top: 4px

.settingsSubGroup
  margin-left: 30px

.settingsSubGroup input[type="number"]
    margin-left: 6px
    width: 4.2em

.selectBoxContainer
  // margin-left: 30px
  select
    margin-left: 6px
/*
 * Look And Behaviour Section
 */
#lookAndBehaviour
  display: none
  height: 53em

#integratedSearches
  .checkbox
    margin-right: 15px
    span
      margin-left: 4px
      margin-top: -1px
  .moreInfo
    margin-top: 12px

#msResultsBox .selectBoxContainer
  margin-bottom: 10px

.msResultsBox_radio
  margin-top: 5px
  margin-left: 20px
  span
    margin-left: 4px
    margin-top: -2px

.sidebarColor
  margin-top: 14px
  input
    margin-left: 7px
  button
    margin-left: 14px

#resultsAtTop
  margin-top: 36px
#resultsInterspersed, #msButtonOptionContainer, #resultsAtBottom, #msPrebrowsingOptionContainer, #importExport
  margin-top: 14px

/*
 * Setup Section
 */
#setup
  display: none
  .input-box
    display: flex
    flex-direction: column
    // margin-top: 10px
    margin-bottom: 10px
    max-width: 400px

/*
 * Help & About Section
 */
#helpAbout
  display: none
