doctype html
html
  head
    meta(charset="UTF-8")
    title MarkSearch Extension Options
  body
    #optionsPanel
      nav
        ol
          li.selected(data-show-hide-div-id='#lookAndBehaviour') Look &amp; Behaviour
          li(data-show-hide-div-id='#setup') Setup
          li(data-show-hide-div-id='#helpAbout') Help/About
      #settings
        section#lookAndBehaviour
          .flexrow#optionsHelpLink
            span You Can Get Help And Information About These Settings Here:&nbsp;
            a(href='https://github.com/Darkle/MarkSearch#chromeExtensionOptions') MarkSearch Browser Extension Help
          h3 Search Engines
          .settingsGroup#searchEngines
            span Show MarkSearch Results Box On The Following Search Engines:
            .flexrow
              .checkbox
                label
                  input(type='checkbox', name='googleSearchCheckbox', id='googleSearchCheckbox', data-setting-key='googleSearchIntegration')
                  span Google
              .selectBoxContainer
                span Search Type:
                select#googleSearchType(data-setting-key='googleSearchType')
                  option(value="instant") Instant Search
                  option(value="nonInstant") Non Instant Search
              //- .checkbox
              //-   label
              //-     input(type='checkbox', name='duckduckgoSearchCheckbox', id='duckduckgoSearchCheckbox', data-setting-key='duckduckgoSearchIntegration')
              //-     span DuckDuckGo
          h3 MarkSearch Results Box
          .settingsGroup#msResultsBox
            .selectBoxContainer
              span Box Position:
              select#msResultsBoxPosition(data-setting-key='msResultsBox_Position')
                option(value="right") Right
                option(value="left") Left
            .checkbox
              label
                input(type='checkbox', name='msResultsBox_AutoExpand', data-setting-key='msResultsBox_AutoExpand')
                span Autoexpand The MarkSearch Results Box On Page Load
          h3 MarkSearch Search Button
          .settingsGroup#msButtonOptionContainer
            .checkbox
              label
                input(type='checkbox', name='showMSsearchButton', data-setting-key='showMSsearchButton')
                span Show A MarkSearch Search Button On Search Engine Start Page &amp; Search Engine Search Page
          h3 Prebrowsing
          .settingsGroup#msPrebrowsingOptionContainer
            .checkbox
              label
                input(type='checkbox', name='msResultsPrebrowsing', data-setting-key='msResultsPrebrowsing')
                span Add Prebrowsing To The First 2 MarkSearch Results
          h3 Importing &amp; Exporting Bookmarks
          .settingsGroup#importExport
            span You Can Import &amp; Export Bookmarks Via The Desktop App Settings
        section#setup
          h3 MarkSearch Extension Token
          .input-box
            input#extensionToken(type='text', spellcheck='false', data-setting-key='extensionToken')
          div (You can get the extension token from the MarkSearch desktop app settings. The MarkSearch desktop app
              | settings can be accessed by right-clicking on the MarkSearch icon in the system tray on Windows &amp; Linux, or
              | by clicking the MarkSearch icon in the menu bar on OSX)
        section#helpAbout
          div#help
            h3 Help
            div
              | Help for the extension &amp; desktop app is is available here:&nbsp;
              a(href='https://darkle.github.io/MarkSearch/#help', target='_blank', rel='noopener') https://darkle.github.io/MarkSearch/#help
            div
              | If you want more help, feel free to open a ticket here:&nbsp;
              a(href='https://github.com/Darkle/MarkSearch-Browser-Extension/issues', target='_blank', rel='noopener') https://github.com/Darkle/MarkSearch-Browser-Extension/issues
          div#about
            h3 About
            div#marksearchChromeExtensionVersionNumber MarkSearch Browser Extension Version:&nbsp;
            div
              | MarkSearch Browser Extension Repo:&nbsp;
              a(href='https://github.com/Darkle/MarkSearch-Browser-Extension', target='_blank', rel='noopener') https://github.com/Darkle/MarkSearch-Browser-Extension
            div
              | MarkSearch Desktop App Repo:&nbsp;
              a(href='https://github.com/Darkle/MarkSearch', target='_blank', rel='noopener') https://github.com/Darkle/MarkSearch
          div#bugs
            h3 Bugs
            div
              | You can report any bugs for the extension here:&nbsp;
              a(target='_blank', href='https://github.com/Darkle/MarkSearch-Browser-Extension/issues', rel='noopener') https://github.com/Darkle/MarkSearch-Browser-Extension/issues
              br
              | You can report any bugs for the desktop app here:&nbsp;
              a(target='_blank', href='https://github.com/Darkle/MarkSearch/issues', rel='noopener') https://github.com/Darkle/MarkSearch/issues
